@import "./base.css";

#app {
	height: 100vh;
	background-image: radial-gradient(
		var(--appBgColor2) 0%,
		var(--appBgColor) 100%
	);
}

ul {
	list-style: none;
}

button {
	outline: 0;
	border: none;
	background: none;
	padding: 0.2rem;
}
